*{
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.content{
  display: flex;
}

.cards {
  display: flex;
  gap: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 187px;
  width: 500px;
  padding: 10px;
  margin: 48px;
}


.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  flex: 0 0 300px;
  background: royalblue;
  box-sizing: border-box;
  font-size: 24px;
  padding: 16px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #eee;
}
