@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header, .footer{
  display: flex;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
  color: gray;
}

ul {
  padding: 0 10px;
  display: flex;
  gap: 10px;
}

.left-links{
  margin-right: auto;
}


.content{
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer {
  background-color: #eeeeee;
}